body {
  background: black;
}
.btn {
  background: blue;
  transition: background 0.5s ease;
}

.btn:hover {
  background: red;
}
.box {
  width: 400px;
  height: 800px;
  background: pink;
  border: 2px solid greenyellow;
  margin: 0 auto;
  animation: slide-in 1s ease-out;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(50%) rotate(360deg) scale(5);
  }
}

.loading {
  width: 50px;
  height: 50px;
  border: 5px solid cyan;
  border-radius: 3px;
  box-shadow: 0 0 8px cyan inset;
  animation: loading 2s ease-in infinite;
}

@keyframes loading {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  33% {
    transform: rotateX(180deg) rotateY(0deg) rotateY(0deg);
  }
  67% {
    tranform: rotateX(180deg) rotateY(180deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
  }
}
/* -- setting up a scrolling animation-- */

.scroll-element {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 40px;
}

.block:nth-child(4n + 1) {
  width: 100px;
  height: 70px;
  background: yellow;
}

.block:nth-child(4n + 2) {
  width: 1300px;
  height: 80px;
  background: darkgreen;
}

.block:nth-child(4n + 3) {
  width: 190px;
  height: 120px;
  background: hotpink;
}

.block:nth-child(4n + 4) {
  width: 140px;
  height: 60px;
  background: dodgerblue;
}

.block {
  border: 2px solid white;
  opacity: 0;
  transform: scale(0.5);
  animation: scrolling 1s linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 100%;
}

@keyframes scrolling {
  from {
    opacity: 0;
    transform: scale(0.5) translateX(-150px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}
